body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    background: url(bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
}
.hometxt{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.logo{
    font-size: 50px;
    color: blue;
    font-weight: 2000;
}
span{
    color: red;
}
#navbar{
    background-color: 0;
}
li{
    padding: 3px;
    
}
li .nav-link{
    font-size: 16px;
    font-weight: 4px;
    color: #000;
}
li .nav-link:hover{
    border-bottom: 2px solid blue;
    transition: .1s;
}
section{
    min-height: 100vh;
}
.home{
    display: flex;
}
.wlcm{
    font-weight: bold;
    color: #fff;
}
.wlcm_p{
    font-size: 14px;
    text-align: justify;
}

